
<section id="register-section" class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
    <div class="row d-flex">
    <div class="col-md-5 ftco-animate img img-2" style="background-image: url(images/bg_6.jpg);"></div>
    <div class="col-md-7 ftco-animate makereservation p-4 p-md-5">
    <div class="heading-section ftco-animate mb-5">
        <h2 class="mb-4">Register</h2>
    </div>
    <form action="/register" method="POST" >
        <div class="row">
        <div class="col-md-6">
            <div class="form-group">
            <label for="">Name</label>
            <input type="text" name="name" class="form-control" placeholder="Your Name" autocomplete="off" value="<%= typeof name != 'undefined' ? name : '' %>">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
            <label for="">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Your Email" autocomplete="off" value="<%= typeof email != 'undefined' ? email : '' %>">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
            <label for="">Phone</label>
            <input type="number" name="phone" class="form-control" placeholder="Phone" autocomplete="off" value="<%= typeof phone != 'undefined' ? phone : '' %>">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
            <label for="">Age</label>
            <input type="" name="age" class="form-control" id="age" placeholder="Your age" autocomplete="off" min="10" max="110" value="<%= typeof age != 'undefined' ? age : '' %>">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password1" class="form-control" id="password1" placeholder="Password" autocomplete="off" value="<%= typeof password1 != 'undefined' ? password1 : '' %>">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" name="password2" class="form-control" id="password2" placeholder="Password again" autocomplete="off" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
            <label for="">Height</label>
            <input type="number" name="height" class="form-control" id="height" min="30" max="200" placeholder="Height in cm" autocomplete="off" value="<%= typeof height != 'undefined' ? height : '' %>">
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
            <label for="">Weight</label>
            <input type="number" name="weight" class="form-control" id="weight" placeholder="Current Weight in kg" min="30" max="300" autocomplete="off" value="<%= typeof weight != 'undefined' ? weight : '' %>">
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
              <label for="">Activity Level</label>
              <div class="select-wrap one-third">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                <select name="activity" id="" class="form-control">
                  <option value="1">1 (low)</option>
                  <option value="2">2 (moderate)</option>
                  <option value="3">3 (high)</option>
                  <option value="4">4 (very high)</option>
                </select>
              </div>
            </div>
          </div>

        <div class="col-md-12 mt-3">
            <div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary py-3 px-5">
            </div>
        </div>

        </div>
    </form>
    </div>
</div>
    </div>
</section>